{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    {% if data == 'client exception' %}
        <div class="jumbotron">
            <h1 class="display-4">Site error</h1>
            <p class="lead">We have some temporary error on our site. Please contact the site administrator informing this issue. Thanks.</p>
        </div>
    {% endif %}

    {% if data == 'server exception' %}
        <div class="jumbotron">
            <h1 class="display-4">Service Unavailable</h1>
            <p class="lead">Data service unavailable. This could be an temporary issue. Please try to refresh this page again. If it still does not resolve, please contact the site administrator. Thanks.</p>
        </div>
    {% endif %}

{% endblock %}
