{% extends 'base.html.twig' %}

{% block title %}Employee list{% endblock %}

{% block body %}
    <h1>List of employee</h1>
    {% for employee in data %}
        <div class="card">
            <div class="card-body">
                <div class="media">
                    {% if '0' == employee.avatar %}
                        <img class="mr-3" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1693bf683f2%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1693bf683f2%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212%22%20y%3D%2237.1%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="generic image placeholder">
                    {% else %}
                        <img class="mr-3" src="{{ employee.avatar }}" alt="{{ employee.name }} profile image">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="mt-0">
                            <a href="{{ employee.uuid }}">{{ employee.name }}</a>
                        </h5>
                        <p>{{ employee.title }}</p>
                        <p>{{ employee.company }}</p>
                        <p>{{ employee.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
